body {
  width: 80%;
  margin: 2.5em auto 2em auto;
}
img {
  width: 100%;
}

#totalHits {
  font-weight: 600;
  margin-bottom: 2.5em;
}

#loading {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.images {
  column-count: 3;
}

@media only screen and (max-width: 768px) {
  .images {
    column-count: 2;
  }
  #loading {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
